{% load static %}
<footer class="rodape" style = "position: fixed; left: 0; bottom: -12px; width: 100%; text-align: center;">
    <div class="rodape__icones">
        <a href="https://www.linkedin.com/in/claudia-duda/" target=”_blank” >
            <img style = "width: 30px; height: 30px" src="{% static '/assets/ícones/1x/linkedin.png' %}" alt="ícone instagram">
        </a>
        <a href="https://github.com/claudia-duda/" target=”_blank” >
            <img src="{% static '/assets/ícones/1x/github.png' %}" alt="ícone instagram">
        </a>
    </div>
    <p class="rodape__texto">Desenvolvido por Cláudia Ramos</p>
</footer>